@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-family: "Poppins", "Nunito", Trebuchet, sans-serif;
}

.b-cap {
    background-color: black !important;
    opacity: 0.6;
    padding: 20px;
}


.section-follow .fab {
    margin: 5px 10px;
}